<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Perfil do Usuário</h3>
        <% if admin? %>
          <div>
            <%= link_to "Editar", edit_user_path(@user), class: "btn btn-warning btn-sm" %>
            <%= link_to "Voltar", users_path, class: "btn btn-secondary btn-sm" %>
          </div>
        <% end %>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3"><strong>Nome:</strong></div>
          <div class="col-sm-9"><%= @user.name %></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3"><strong>E-mail:</strong></div>
          <div class="col-sm-9"><%= @user.email %></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3"><strong>Telefone:</strong></div>
          <div class="col-sm-9"><%= @user.phone %></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3"><strong>Registro Acadêmico:</strong></div>
          <div class="col-sm-9"><%= @user.academic_record %></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3"><strong>Função:</strong></div>
          <div class="col-sm-9">
            <span class="badge bg-<%= @user.admin? ? 'danger' : 'info' %>">
              <%= @user.admin? ? 'Administrador' : 'Estudante' %>
            </span>
          </div>
        </div>
        
        <% if @user.student? && @user.subjects.any? %>
          <hr>
          <div class="row">
            <div class="col-sm-3"><strong>Disciplinas Matriculadas:</strong></div>
            <div class="col-sm-9">
              <% @user.subjects.each do |subject| %>
                <span class="badge bg-primary me-1"><%= subject.name %></span>
              <% end %>
            </div>
          </div>
        <% end %>
        
        <% if @user.student? && @user.monitored_subjects.any? %>
          <hr>
          <div class="row">
            <div class="col-sm-3"><strong>Disciplinas Monitoradas:</strong></div>
            <div class="col-sm-9">
              <% @user.monitored_subjects.each do |subject| %>
                <%= link_to subject.name, subject_path(subject), class: "badge bg-warning text-dark text-decoration-none me-1" %>
                <small class="text-muted d-block"><%= subject.code %></small>
              <% end %>
            </div>
          </div>
        <% end %>
        
        <% if @user.monitored_subject %>
          <hr>
          <div class="row">
            <div class="col-sm-3"><strong>Monitor de:</strong></div>
            <div class="col-sm-9">
              <span class="badge bg-success"><%= @user.monitored_subject.name %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>